.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    position: fixed;
  }
  
  .trigger:hover {
    color: gray;
  }
  
  .logo {
    height: 120px;
    width: 120px;
    margin: 10% 15% 5% 20%;
    background: darkslategray;
    border-radius: 50%;
    border: 5px solid darkslategray;
  }
  .name{
    font-weight: bolder;
    font-style: oblique;
text-align: center;
    font-size: 25px;
    color: white;

  }
  .socialIcons{
    font-size: 20px;
    /* color: rgb(255, 255, 255); */
    margin: 10px; 
    /* background-color:gray;  */
    border-radius: 50px;
    border: 10px solid rgb(23, 5, 47)
    
    
  }
  .socialIcons :hover{
    background-color: skyblue;
    
    border-radius: 50px;
    border: 10px ;
  }

  

  
 
  .text{
    color: white;
    margin: 25px;
    }
    
      .text2{
        color: skyblue;
       margin: 25px;
        margin-top: -45px;
  
        }
        .text5{
          color: white;
          margin: 25px;
          font-weight: bolder;
          margin-top: -20px;
          margin-left: 85px;
          }

          .text6{
            color: white;
            margin: 25px;
            
            margin-top: -30px;
        
            }

            .home :hover{
              color: skyblue;
            }
            
  .site-layout-background{
background: url(../assets/imagess/pexel.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;

  }

  /* .site-layout  {
  
  } */

  .Home-container {
    height: 100vh;
    width: 100%;
    background: black solid;
    text-align: center;
    padding: 20% 10% 20% 10%;
    
  }
  .home-content{
    color: white;
    font-size: 40px;
    font-weight: bolder;
  }
  

  /* .home-image{
    width:100% ;
    height:100% ;
    position: fixed; 
     opacity:0.5 ;
  } */
  .About-container{
    background-color: white;
    width: 100%;
    height: 100%;
   
  }
  .About-content{
    margin-left: 300px;
  }
  hr{
height: 5px;
width: 40px;
text-align: left;
background-color: black;
position: relative; right: 48.3%;
  }
 
  h1{
    font-size: 40px;
    font-weight: bolder;

  }

  

  
.aboutParagraph{
  font-size: 20px;
  font-weight: normal;

}
.small-image{
  
  width:300px;
  height: 300px;
  
  
}

.full{
  font-size: 25px;
  font-weight: bold;
 /* margin-left: 400px; */
  /* margin-top: -300px; */
}
.nameAbout{
  font-size: 20px;
  
}
.email{
  font-size: 20px;
 
}
.tel{
  
  font-size: 20px;
}
.city{
  margin-left: 700px;
  font-size: 20px;
}
.freelance{
  
  font-size: 20px;
}
.skill{
  color: black;
    font-size: 30px;
    
}
/* .backend{
  
  font-size: 20px;
  margin-left: 500px;
}
.frontckend{
  
    font-size: 20px;
    margin-left: 300px;

} */
.otherSkill{
  font-size: 20px;
 
}
.noteResume{
  font-size: 20px;
  font-weight: normal;

}
.resume{
  color: black;
    font-size: 30px;
    
}
.rowSkills{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* grid-gap: -2; */
  position: relative; left: 20%;
/* padding: 1% 1% 1% 1%; */

  /* width: 100px;
  height: 100px; */

  color:blue;
/* margin-left: 6%; */

}
.column1{
  margin: 6%;
}
.Working-container{
  font-size: 30px;
  font-weight: bold;

}
.Working{
  font-size: 20px;
  font-weight: bold;

}
.WorkingParagraph{
  font-size: 20px;
  font-weight: normal;

}
.WorkingParagraphH1{
  font-size: 20px;
  font-weight: bold;

}