.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    position: fixed;
    
  }
  
  .trigger:hover {
    color: gray;
  }
  
  .logo {
    height: 120px;
    width: 120px;
    margin: 10% 15% 5% 20%;
    background: darkslategray;
    border-radius: 50%;
    border: 5px solid darkslategray;
  }
  .layout{
    background-color: white;
  }
  .name{
    font-weight: bolder;
    font-style: oblique;
text-align: center;
    font-size: 25px;
    color: black;
  }
  .name2{
    font-style: oblique;
text-align: center;
    font-size: 15px;
    color: black;
  }
  .socialIcons{
    font-size: 20px;
    /* color: rgb(255, 255, 255); */
    margin: 10px; 
    /* background-color:gray;  */
    /* border-radius: 50px;
    border: 10px solid rgb(23, 5, 47) */
    
    
  }
  .socialIcons :hover{
    background-color: skyblue;
    
    border-radius: 100%;
    border: 30px ;
  }

  

  .side-nav{
    background-color: rgb(88, 81, 81);
  }
 
  .text{
    color: white;
    margin: 25px;
    }
    
      .text2{
        color: skyblue;
       margin: 105px;
        margin-top: -45px;
  
        }
        .text5{
          color: white;
          margin: 25px;
          font-weight: bolder;
          margin-top: -20px;
          margin-left: 85px;
          }

          .text6{
            color: white;
            margin: 25px;
            
            margin-top: -30px;
        
            }

            .home :hover{
              color: skyblue;
            }
            
  .site-layout-background{
background: url(../assets/imagess/noire.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;

  }

 

  .Home-container {
    
    background: white solid;
    text-align: center;
    padding: 20% 10% 20% 10%;
    margin-left: 250px;
    opacity: 0.2;
    

  }
  .home-content{
    color: black;
    font-size: 40px;
    font-weight: bolder;
  }
  

  /* .home-image{
    width:100% ;
    height:100% ;
    position: fixed; 
     opacity:0.5 ;
  } */
  .About-container{
    background-color: white;
    margin-left: 250px;
    
   
  }
  /* .About-content{
    margin-left: 300px;
  } */
  hr{
height: 5px;
width: 40px;
text-align: left;
background-color: black;
position: relative; right: 48.3%;
  }
 
  h1{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 10px;

  }

  

  
.aboutParagraph{
  font-size: 15px;
  font-weight: normal;
  margin-left: 7em;
  margin-top: 4em;

}
.small-image{
  
  width:300px;
  height: 300px;
  
  
}

.full{
  font-size: 25px;
  font-weight: bold;
 /* margin-left: 400px; */
  /* margin-top: -300px; */
}
.nameAbout{
  font-size: 20px;
  
}
.columnOnSummary{
  font-size: 15px;
  display: grid;
  grid-template-columns: auto auto;
  /* grid-gap: -400px; */


}
/* .columnOnSummary::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  font-style:Segoe UI;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1F5297;
} */

.skill{
  color: black;
    font-size: 30px;
    
}
/* .backend{
  
  font-size: 20px;
  margin-left: 500px;
}
.frontckend{
  
    font-size: 20px;
    margin-left: 300px;

} */
/* .otherSkill{
  font-size: 20px;
 
} */
/* .noteResume{
  font-size: 20px;
  font-weight: normal;

}
.resume{ */
  /* color: black;
    font-size: 30px;
    
} */
.rowSkills{
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-gap: -2; */
  position: relative;
/* padding: 1% 1% 1% 1%; */

  /* width: 100px;
  height: 100px; */

  color:blue;
/* margin-left: 6%; */

}
.column1{
  margin: 6%;
}
.Working-container{ 
    background-color: white;
    margin-left: 250px;


}
.Working{
  font-size: 30px;
  font-weight: bold;

}
.WorkingParagraph{
  font-size: 20px;
  font-weight: normal;

}
.WorkingParagraphH1{
  font-size: 20px;
  font-weight: bold;

}

.services-container{
  background-color: white;
  margin-left: 250px;
}
.contact-card{
  box-shadow: 3px 3px 3px 3px rgb(155, 152, 152);
width: 40%;
/* margin: 10px; */
}
.contact-card1{
  box-shadow: 3px 3px 3px 3px rgb(88, 87, 87);
width: 40%;
margin-left: 35em;
margin-top: -25em;
}
.contact-info{
  margin-left: 10px;
}
.contact-icons{
  font-size: 20px;
}
.port{
  box-shadow: 3px 3px 3px 3px black;
width: 20em;
height: 20em;
background: url(../assets/imagess/pexels-photo-6899535.jpeg);

  /* height: 30%; */
}

.port1{
  box-shadow: 3px 3px 3px 3px black;
width: 20em;
height: 20em;
background: url(../assets/imagess/pexels-photo-733853.jpeg);
margin-left: 25em;
margin-top: -300px;

}
.resume-card1{
  box-shadow: 3px 3px 3px 3px gray;
  width: 25em;
  height: 30em;
}
.resume-card{
  box-shadow: 3px 3px 3px 3px gray;
width: 25em;
height: 30em;

/* margin-left: 25em;
margin-top: -300px; */
}
.resume-card2019{
  background-color:white;
  font-weight: bolder;
}
